.top_main_body{
    display: grid;
    justify-content: center;
    padding: 0%;
    margin: 0%;
}


.topnav_ptag{
    color: rgb(29, 29, 255);
    font-size: 250%;
    font-weight: 900;

}

.topnav_span{
    color: rgb(167, 210, 248);
    font-weight: lighter;
    font-size: 70%;
}